.btn-blue{
	background-color:#CF0201;
	padding:15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Work sans';
}
.btn-blue:hover{
	background-color: white;
	color:#CF0201;
	cursor: pointer;
	}